footer {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a {
  text-decoration: underline;
}

.footer-top {
  margin-bottom: 20px;
}

.footer-top a {
  font-size: 16px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-lang {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #757575;
  padding: 8px 15px;
  color: #757575;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-lang:hover {
  border-color: #fff;
  color: #fff;
}

.footer-bottom {
  font-size: 13px;
  margin-top: 10px;
  padding-bottom: 10px;

}

.small-text {
  font-size: 15px;
  padding-bottom: 10px;

}